{% extends 'base.html' %} {% block content %}

<!-- Head Section -->
<section class="small-section bg-dark-lighter">
  <div class="relative container align-right">
    <div class="row">
      <div class="col-md-8">
        <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">اکانت کاربری</h1>
      </div>

      <div class="col-md-4 mt-30">
        <div class="mod-breadcrumbs font-alt align-left">
          <a href="{% url 'website:home' %}">خانه</a>&nbsp;/&nbsp;<span
            >اکانت کاربری</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<section class="page-section">
  <div class="container relative">
    <!-- Tab panes -->
    <div class="tab-content tpl-minimal-tabs-cont section-text">
      <div class="tab-pane fade in active" id="mini-one">
        <!-- Login Form -->
        <div class="row">
            <h3 style="text-align: center;"> تغییر رمز عبور</h3>
          <div class="col-md-4 col-md-offset-4">
            <form
              class="form contact-form"
              method="post"
              action="{% url 'account_reset_password' %}"
            >
              {{ form.non_field_errors | safe }} {% csrf_token %}

              <div class="form-group">
                {{ form.as_p }}
                {{ form.errors|safe }}
              </div>

              <div class="form-tip pt-20">
                {% if redirect_field_value %}
                <input
                  type="hidden"
                  name="{{ redirect_field_name }}"
                  value="{{ redirect_field_value }}"
                />
                {% endif %}
              </div>

              <div class="align-left pt-10">
                <button
                  class="submit_btn btn btn-mod btn-medium btn-round btn-full"
                  type="submit"
                >
                  تغییر رمز عبور
                </button>
              </div>

              <div class="align-left pt-10">
                <a href="{% url 'account_login' %}"  class="btn btn-outline">بازگشت</a>
              </div>

            </form>
          </div>
        </div>
        <!-- End Login Form -->
      </div>
    </div>
  </div>
</section>
<!-- End Section -->

{% endblock content %}
