{% extends 'base.html' %} {% block content %}

<!-- Head Section -->
<section class="small-section bg-dark-lighter">
  <div class="relative container align-right">
    <div class="row">
      <div class="col-md-8">
        <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">اکانت کاربری</h1>
      </div>

      <div class="col-md-4 mt-30">
        <div class="mod-breadcrumbs font-alt align-left">
          <a href="{% url 'website:home' %}">خانه</a>&nbsp;/&nbsp;<span
            >اکانت کاربری</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<section class="page-section">
  <div class="container relative">

    <!-- Tab panes -->
    <div class="tab-content tpl-minimal-tabs-cont section-text">

      <div class="tab-pane active">
        <!-- Registry Form -->
        <div class="row">
          <h3 style="text-align: center;">ثبت نام</h3>
          <p style="text-align: center;">اگر حساب کاربری دارید
            <a href="{{ login_url }}">وارد</a> شوید.</p>
          <div class="col-md-4 col-md-offset-4">
            <form class="form contact-form" method="post" action="{% url 'account_signup' %}">
              {{ form.non_field_errors | safe }}
              {% csrf_token %}
              <div class="clearfix">
                <!-- Email -->
                <div class="form-group">
                  {{ form.email }}
                  {{ form.email.errors|safe }}
                </div>

                <!-- Username -->
                <div class="form-group">
                  {{ form.username }}
                  {{ form.username.errors | safe }}
                </div>

                <!-- Password -->
                <div class="form-group">
                  {{ form.password1 }}
                  {{ form.password1.errors|safe }}
                </div>

                <!-- Re-enter Password -->
                <div class="form-group">
                  {{ form.password2 }}
                  {{ form.password2.errors|safe }}
                </div>
              </div>

              <!-- Send Button -->
              <div class="pt-10">
                <button
                  class="submit_btn btn btn-mod btn-medium btn-round btn-full"
                >
                  ثبت نام
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- End Registry Form -->
      </div>
    </div>
  </div>
</section>
<!-- End Section -->

{% endblock content %}
