RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.metisbt\.ir [NC]
RewriteRule ^(.*)$ https://metisbt.ir/$1 [R=301,L]

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^ https://metisbt.ir%{REQUEST_URI} [R=301,L,NE]