{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Head Section -->
<section class="small-section bg-dark-lighter">
  <div class="relative container align-right">
    <div class="row">
      <div class="col-md-8">
        <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">تماس با ما</h1>
        <div class="hs-line-4 font-alt">
          ما همیشه آماده صحبت با افراد خوب هستیم        
        </div>
      </div>

      <div class="col-md-4 mt-30">
        <div class="mod-breadcrumbs font-alt align-left">
          <a href="{% url 'website:home' %}">خانه</a>&nbsp;/&nbsp;<span>تماس با ما</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Head Section -->

<!-- Google Map -->
<div class="google-map">
  <div
    data-address="Belt Parkway, Queens, NY, United States"
    id="map-canvas"
  ></div>
</div>
<!-- End Google Map -->

<!-- Contact Section -->
<section class="page-section" id="contact">
  <div class="container relative">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="section-text align-center mb-70 mb-xs-40">
          این یک نوشته آزمایشی است که به طراحان و برنامه نویسان کمک میکند تا این عزیزان با بهره گیری از این نوشته تستی و آزمایشی بتوانند نمونه تکمیل شده از پروژه و طرح خودشان را به کارفرما نمایش دهند
        </div>
      </div>
    </div>

    <div class="row mb-60 mb-xs-40">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <!-- Phone -->
          <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
            <div class="contact-item">
              <div class="ci-icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="ci-title font-alt">تماس</div>
              <div class="ci-text"><a href="tel:00989981255989">+98 998 1255 989</a>></div>
            </div>
          </div>
          <!-- End Phone -->

          <!-- Address -->
          <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
            <div class="contact-item">
              <div class="ci-icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="ci-title font-alt">آدرس</div>
              <div class="ci-text">ایران، تهران ، تهران</div>
            </div>
          </div>
          <!-- End Address -->

          <!-- Email -->
          <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
            <div class="contact-item">
              <div class="ci-icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="ci-title font-alt">ایمیل</div>
              <div class="ci-text">
                <a href="mailto:metisbt@gmail.com"
                  >metisbt@gmail.com</a
                >
              </div>
            </div>
          </div>
          <!-- End Email -->
        </div>
      </div>
    </div>

    <!-- Contact Form -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="form contact-form" method="post" action="{% url 'website:contact' %}">
          {% csrf_token %}
          <div class="clearfix">
            <div class="cf-right-col">
              <!-- Name -->
              <div class="form-group">
                <input
                  type="text"
                  name="name"
                  class="input-md round form-control"
                  placeholder="نام"
                  pattern=".{3,100}"
                  required
                />
              </div>

              <!-- Email -->
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  class="input-md round form-control"
                  placeholder="ایمیل"
                  pattern=".{5,100}"
                  required
                />
              </div>
            </div>

            <div class="cf-left-col">
              <!-- Message -->
              <div class="form-group">
                <textarea
                  name="message"
                  class="input-md round form-control"
                  style="height: 84px"
                  placeholder="پیام"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="clearfix">
            <div class="cf-right-col">
              <!-- Inform Tip -->
              {{form.captcha}}
              <div class="form-tip pt-20">
                <i class="fa fa-info-circle"></i> تمامی موارد ضروری میباشند
              </div>
            </div>

            <div class="cf-left-col">
              <!-- Send Button -->
              <div class="align-left pt-10">
                <button
                  class="submit_btn btn btn-mod btn-medium btn-round"
                  type="submit"
                >
                  ارسال پیام
                </button>
              </div>
            </div>
          </div>

          {% if messages %} {% for message in messages %}
          <div id="result">
            <div
            class="alert {% if message.tags == 'success' %} alert-{{ message.tags }} {% elif message.tags == 'error' %} alert-warning {% endif %}"
          >
            {{ message|safe }}
          </div>
          </div>
          {% endfor %} {% endif %}
        </form>
      </div>
    </div>
    <!-- End Contact Form -->
  </div>
</section>
<!-- End Contact Section -->
{% endblock %}

