{% extends 'base.html' %} {% load static %} {% load website_tags %} {% block content %}

<!-- Home Section -->
<section
  class="home-section bg-dark-alfa-30 parallax-2"
  data-background="{% static 'images/home-bg.jpg' %}"
  id="home"
>
  <div class="js-height-full container">
    <!-- Hero Content -->
    <div class="home-content">
      <div class="home-text">
        <h1 class="hs-line-1 font-alt mb-80 mb-xs-30 mt-70 mt-sm-0">
          صِفْ خَلْقَ خَوْدٍ كَمِثْلِ الشَّمْسِ إِذْ بَزَغَتْ
        </h1>

        <div class="hs-line-6">إيطاليا بلد جميل جدا. منزلي كبير.</div>
      </div>
    </div>
    <!-- End Hero Content -->

    <!-- Scroll Down -->
    <div class="local-scroll">
      <a href="#about" class="scroll-down"
        ><i class="fa fa-angle-down scroll-down-icon"></i
      ></a>
    </div>
    <!-- End Scroll Down -->
  </div>
</section>
<!-- End Home Section -->

<!-- About Section -->
<section class="page-section" id="about">
  <div class="container relative">
    <h2 class="section-title font-alt align-right mb-70 mb-sm-40">
      درباره ما

      <a href="{% url 'website:about' %}" class="section-more left"
        >بیشتر بخوانید <i class="fa fa-angle-left"></i
      ></a>
    </h2>

    <div class="section-text">
      <div class="row">
        <div class="col-md-4 mb-sm-50 mb-xs-30">
          <!-- Bar Item -->
          <div class="progress tpl-progress">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              برندینگ  <span>90%</span>
            </div>
          </div>
          <!-- End Bar Item -->

          <!-- Bar Item -->
          <div class="progress tpl-progress">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              طراحی<span>80%</span>
            </div>
          </div>
          <!-- End Bar Item -->

          <!-- Bar Item -->
          <div class="progress tpl-progress">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              توسعه<span>85%</span>
            </div>
          </div>
          <!-- End Bar Item -->
        </div>

        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
          خالد حسینی تو رمان باد بادک باز مینویسه : ﻣﺮﺩ ﺁﻫﺴﺘﻪ ﺩﺭ ﮔﻮﺵ ﻓﺮﺯﻧﺪ ﺗﺎﺯﻩ ﺑﻪ ﺑﻠﻮﻍ ﺭﺳﯿﺪﻩ ﺍﺵ ﺑﺮﺍﯼ ﭘﻨﺪ ﭼﻨﯿﻦ ﻧﺠﻮﺍ ﮐﺮﺩ : ” ﭘﺴﺮﻡ ﺩﺭ ﺯﻧﺪﮔﯽ ﻫﺮﮔﺰ ﺩﺯﺩﯼ ﻧﮑﻦ ” ﭘﺴﺮ ﻣﺘﻌﺠﺐ ﻭ ﻣﺒﻬﻮﺕ ﺑﻪ ﭘﺪﺭ ﻧﮕﺎﻩ ﮐﺮﺩ ﺑﺪﯾﻦ ﻣﻌﻨﺎ ﮐﻪ ﺍﻭ ﻫﺮﮔﺰ ﺩﺳﺖ ﮐﺞ ﻧﺪﺍﺷﺘﻪ ﭘﺪﺭ ﺑﻪ ﻧﮕﺎﻩ ﻣﺘﻌﺠﺐ ﻓﺮﺯﻧﺪ ﻟﺒﺨﻨﺪﯼ ﺯﺩ ﻭ ﺍﺩﺍﻣﻪ ﺩﺍﺩ : ﺩﺭ ﺯﻧﺪﮔﯽ ﺩﺭﻭﻍ ﻧﮕﻮ ﭼﺮﺍ ﮐﻪ ﺍﮔﺮ ﮔﻔﺘﯽ ﺻﺪﺍﻗﺖ ﺭﺍ ﺩﺯﺩﯾﺪﻩ ﺍﯼ، ﺧﯿﺎﻧﺖ ﻧﮑﻦ ﮐﻪ ﺍﮔﺮ ﮐﺮﺩﯼ ﻋﺸﻖ ﺭﺍ ﺩﺯﺩﯾﺪﻩ ﺍﯼ، ﺧﺸﻮﻧﺖ ﻧﮑﻦ ﺍﮔﺮ ﮐﺮﺩﯼ ﻣﺤﺒﺖ ﺭﺍ ﺩﺯﺩﯾﺪﻩ ﺍﯼ، ﻧﺎ ﺣﻖ ﻧﮕﻮ ﺍﮔﺮ ﮔﻔﺘﯽ ﺣﻖ ﺭﺍ ﺩﺯﺩﯾﺪﻩ ﺍﯼ، ﺑﯽ ﺣﯿﺎﯾﯽ ﻧﮑﻦ ﺍﮔﺮ ﮐﺮﺩﯼ ﺷﺮﺍﻓﺖ ﺭﺍ ﺩﺯﺩﯾﺪﻩ ﺍی... ﭘﺲ ﺩﺭ ﺯﻧﺪﮔﯽ ﻓﻘﻂ ﺩﺯﺩﯼ نکن !
        </div>

        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
          وقتی ثروت‌ های بزرگ به دست برخی مردم می‌افتد در پرتو آن نیرومند می‌شوند و در سایهٔ نیرومندی و ثروت خیال می‌ کنند که می‌توانند در خارج از وطن خود زندگی نمایند و خوشبخت و سرافراز باشند ولی به زودی می‌ فهمند که اشتباه کرده‌ اند و عظمت هر ملتی بر روی خرابه‌ های وطن خودش می‌باشد و بس!
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- Divider -->
<hr class="mt-0 mb-0" />
<!-- End Divider -->

<!-- Services Section -->
<section class="page-section" id="services">
  <div class="container relative">
    <h2 class="section-title font-alt mb-70 mb-sm-40">خدمات</h2>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
      <li class="active">
        <a href="#service-branding" data-toggle="tab">
          <div class="alt-tabs-icon">
            <span class="icon-strategy"></span>
          </div>

          برندینگ
        </a>
      </li>
      <li>
        <a href="#service-web-design" data-toggle="tab">
          <div class="alt-tabs-icon">
            <span class="icon-desktop"></span>
          </div>

          طراحی سایت
        </a>
      </li>
      <li>
        <a href="#service-graphic" data-toggle="tab">
          <div class="alt-tabs-icon">
            <span class="icon-tools"></span>
          </div>

          طراحی گرافیک
        </a>
      </li>
      <li>
        <a href="#service-development" data-toggle="tab">
          <div class="alt-tabs-icon">
            <span class="icon-gears"></span>
          </div>

          توسعه
        </a>
      </li>
      <li>
        <a href="#service-photography" data-toggle="tab">
          <div class="alt-tabs-icon">
            <span class="icon-camera"></span>
          </div>

          عکاسی
        </a>
      </li>
    </ul>
    <!-- End Nav tabs -->

    <!-- Tab panes -->
    <div class="tab-content tpl-tabs-cont">
      <!-- Service Item -->
      <div class="tab-pane fade in active" id="service-branding">
        <div class="section-text">
          <div class="row">
            <div class="col-md-4 mb-md-40 mb-xs-30">
              <blockquote class="mb-0">
                <p>
                  وقتی ثروت‌ های بزرگ به دست برخی مردم می‌افتد در پرتو آن نیرومند می‌شوند و در سایهٔ نیرومندی و ثروت خیال می‌ کنند که می‌توانند در خارج از وطن خود زندگی نمایند و خوشبخت و سرافراز باشند
                </p>
                <footer>Jeff Bezos</footer>
              </blockquote>
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              وقتی ثروت‌ های بزرگ به دست برخی مردم می‌افتد در پرتو آن نیرومند می‌شوند و در سایهٔ نیرومندی و ثروت خیال می‌ کنند که می‌توانند در خارج از وطن خود زندگی نمایند و خوشبخت و سرافراز باشند ولی به زودی می‌ فهمند که اشتباه کرده‌ اند و عظمت هر ملتی بر روی خرابه‌ های وطن خودش می‌باشد و بس!
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Service Item -->
      <div class="tab-pane fade" id="service-web-design">
        <div class="section-text">
          <div class="row">
            <div class="col-md-4 mb-md-40 mb-xs-30">
              <blockquote class="mb-0">
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </p>
                <footer>Steve Krug</footer>
              </blockquote>
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              وقتی ثروت‌ های بزرگ به دست برخی مردم می‌افتد در پرتو آن نیرومند می‌شوند و در سایهٔ نیرومندی و ثروت خیال می‌ کنند که می‌توانند در خارج از وطن خود زندگی نمایند و خوشبخت و سرافراز باشند ولی به زودی می‌ فهمند که اشتباه کرده‌ اند و عظمت هر ملتی بر روی خرابه‌ های وطن خودش می‌باشد و بس!
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Service Item -->
      <div class="tab-pane fade" id="service-graphic">
        <div class="section-text">
          <div class="row">
            <div class="col-md-4 mb-md-40 mb-xs-30">
              <blockquote class="mb-0">
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </p>
                <footer>Chip Kidd</footer>
              </blockquote>
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              وقتی ثروت‌ های بزرگ به دست برخی مردم می‌افتد در پرتو آن نیرومند می‌شوند و در سایهٔ نیرومندی و ثروت خیال می‌ کنند که می‌توانند در خارج از وطن خود زندگی نمایند و خوشبخت و سرافراز باشند ولی به زودی می‌ فهمند که اشتباه کرده‌ اند و عظمت هر ملتی بر روی خرابه‌ های وطن خودش می‌باشد و بس!
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Service Item -->
      <div class="tab-pane fade" id="service-development">
        <div class="section-text">
          <div class="row">
            <div class="col-md-4 mb-md-40 mb-xs-30">
              <blockquote class="mb-0">
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </p>
                <footer>Albert Einstein</footer>
              </blockquote>
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              وقتی ثروت‌ های بزرگ به دست برخی مردم می‌افتد در پرتو آن نیرومند می‌شوند و در سایهٔ نیرومندی و ثروت خیال می‌ کنند که می‌توانند در خارج از وطن خود زندگی نمایند و خوشبخت و سرافراز باشند ولی به زودی می‌ فهمند که اشتباه کرده‌ اند و عظمت هر ملتی بر روی خرابه‌ های وطن خودش می‌باشد و بس!
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <!-- Service Item -->
      <div class="tab-pane fade" id="service-photography">
        <div class="section-text">
          <div class="row">
            <div class="col-md-4 mb-md-40 mb-xs-30">
              <blockquote class="mb-0">
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </p>
                <footer>Martin Parr</footer>
              </blockquote>
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی  پر نشد، به یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              وقتی ثروت‌ های بزرگ به دست برخی مردم می‌افتد در پرتو آن نیرومند می‌شوند و در سایهٔ نیرومندی و ثروت خیال می‌ کنند که می‌توانند در خارج از وطن خود زندگی نمایند و خوشبخت و سرافراز باشند ولی به زودی می‌ فهمند که اشتباه کرده‌ اند و عظمت هر ملتی بر روی خرابه‌ های وطن خودش می‌باشد و بس!
            </div>
          </div>
        </div>
      </div>
      <!-- End Service Item -->
    </div>
    <!-- End Tab panes -->

  </div>
</section>
<!-- End Services Section -->

<!-- Call Action Section -->
<section
  class="page-section pt-0 pb-0 banner-section bg-dark"
  data-background="{% static 'images/slide-1.jpg' %}"
>
  <div class="container relative">
    <div class="row">
      <div class="col-sm-6">
        <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
          <div class="banner-content">
            <h3 class="banner-heading font-alt">
              به دنبال خدمات دیجیتال منحصر به فرد هستید؟
            </h3>
            <div class="banner-decription">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
            </div>
            <div class="local-scroll">
              <a
                href="{% url 'website:contact' %}"
                class="btn btn-mod btn-w btn-medium btn-round"
                >مشاوره رایگان</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 banner-image wow fadeInUp">
        <img src="{% static 'images/promo-1.png' %}" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Call Action Section -->

<!-- Process Section -->
<section class="page-section">
  <div class="container relative">
    <!-- Features Grid -->
    <div class="row alt-features-grid">
      <!-- Text Item -->
      <div class="col-sm-3">
        <div class="alt-features-item align-center">
          <div class="alt-features-descr align-right">
            <h4 class="mt-0 font-alt">مراحل کار با ما</h4>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </div>
        </div>
      </div>
      <!-- End Text Item -->

      <!-- Features Item -->
      <div class="col-sm-3">
        <div class="alt-features-item align-center">
          <div class="alt-features-icon">
            <span class="icon-chat"></span>
          </div>
          <h3 class="alt-features-title font-alt">1. جلسه مشاوره</h3>
        </div>
      </div>
      <!-- End Features Item -->

      <!-- Features Item -->
      <div class="col-sm-3">
        <div class="alt-features-item align-center">
          <div class="alt-features-icon">
            <span class="icon-browser"></span>
          </div>
          <h3 class="alt-features-title font-alt">2. طراحی</h3>
        </div>
      </div>
      <!-- End Features Item -->

      <!-- Features Item -->
      <div class="col-sm-3">
        <div class="alt-features-item align-center">
          <div class="alt-features-icon">
            <span class="icon-heart"></span>
          </div>
          <h3 class="alt-features-title font-alt">3. ساخت</h3>
        </div>
      </div>
      <!-- End Features Item -->
    </div>
    <!-- End Features Grid -->
  </div>
</section>
<!-- End Process Section -->

<!-- Divider -->
<hr class="mt-0 mb-0" />
<!-- End Divider -->

<!-- Call Action Section -->
<section class="small-section bg-dark">
  <div class="container relative">
    <div class="align-center">
      <h3 class="banner-heading font-alt">پروژه خود را به ما بسپارید</h3>
      <div class="local-scroll">
        <a
          href="https://mahdisabet.ir/portfolio"
          class="btn btn-mod btn-w btn-medium btn-round"
          >مشاهده نمونه کار ها</a
        >
      </div>
    </div>
  </div>
</section>
<!-- End Call Action Section -->

<!-- Features Section -->
<section class="page-section">
  <div class="container relative">
    <h2 class="section-title font-alt mb-70 mb-sm-40">چرا ما؟</h2>

    <!-- Features Grid -->
    <div class="row multi-columns-row alt-features-grid">
      <!-- Features Item -->
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="alt-features-item align-center">
          <div class="alt-features-icon">
            <span class="icon-flag"></span>
          </div>
          <h3 class="alt-features-title font-alt">خلاقیت</h3>
          <div class="alt-features-descr align-right">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </div>
        </div>
      </div>
      <!-- End Features Item -->

      <!-- Features Item -->
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="alt-features-item align-center">
          <div class="alt-features-icon">
            <span class="icon-clock"></span>
          </div>
          <h3 class="alt-features-title font-alt">وقت شناسی</h3>
          <div class="alt-features-descr align-right">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </div>
        </div>
      </div>
      <!-- End Features Item -->

      <!-- Features Item -->
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="alt-features-item align-center">
          <div class="alt-features-icon">
            <span class="icon-hotairballoon"></span>
          </div>
          <h3 class="alt-features-title font-alt">نوآوری</h3>
          <div class="alt-features-descr align-right">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </div>
        </div>
      </div>
      <!-- End Features Item -->

      <!-- Features Item -->
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="alt-features-item align-center">
          <div class="alt-features-icon">
            <span class="icon-heart"></span>
          </div>
          <h3 class="alt-features-title font-alt">طراحی مینیمال</h3>
          <div class="alt-features-descr align-right">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </div>
        </div>
      </div>
      <!-- End Features Item -->

      <!-- Features Item -->
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="alt-features-item align-center">
          <div class="alt-features-icon">
            <span class="icon-linegraph"></span>
          </div>
          <h3 class="alt-features-title font-alt">مسولیت پذیری</h3>
          <div class="alt-features-descr align-right">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </div>
        </div>
      </div>
      <!-- End Features Item -->

      <!-- Features Item -->
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="alt-features-item align-center">
          <div class="alt-features-icon">
            <span class="icon-chat"></span>
          </div>
          <h3 class="alt-features-title font-alt">دوستانه</h3>
          <div class="alt-features-descr align-right">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </div>
        </div>
      </div>
      <!-- End Features Item -->
    </div>
    <!-- End Features Grid -->
  </div>
</section>
<!-- End Features Section -->


<!-- Divider -->
<hr class="mt-0 mb-0" />
<!-- End Divider -->


<!-- Blog Section -->
<section class="page-section" id="news">
  <div class="container relative">
    <h2 class="section-title font-alt align-right mb-70 mb-sm-40">
      آخرین اخبار

      <a href="{% url 'blog:index' %}" class="section-more left"
        >مشاهده همه اخبار<i class="fa fa-angle-left"></i
      ></a>
    </h2>

    <div class="row multi-columns-row">
      <!-- Post Item -->
      {% latest_post_home %}
      <!-- End Post Item -->

    </div>
  </div>
</section>
<!-- End Blog Section -->

<!-- Newsletter Section -->
<section class="small-section bg-gray-lighter">
  <div class="container relative">
    <form class="form align-center" action="{% url 'website:newsletter' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="newsletter-label font-alt">
            با خبرنامه ما در جریان باشید
          </div>

          <div class="mb-20">
            <input
              placeholder="ایمیل خود را وارد کنید"
              class="newsletter-field form-control input-md round mb-xs-10"
              name="email"
              pattern=".{5,100}"
              required
            />

            <button
              type="submit"
              class="btn btn-mod btn-medium btn-round mb-xs-10"
            >
              مشترک شوید
            </button>
          </div>

          <div class="form-tip">
            <i class="fa fa-info-circle"></i> به ما اعتماد کنید، ما هرگز اسپم ارسال نمیکنیم
          </div>

          <div id="subscribe-result"></div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- End Newsletter Section -->

<!-- Contact Section -->
<section class="page-section" id="contact">
  <div class="container relative">
    <h2 class="section-title font-alt mb-70 mb-sm-40">راه های ارتباطی</h2>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <!-- Phone -->
          <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
            <div class="contact-item">
              <div class="ci-icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="ci-title font-alt">تماس</div>
              <div class="ci-text"><a href="tel:00989981255989">+98 998 1255 989</a></div>
            </div>
          </div>
          <!-- End Phone -->

          <!-- Address -->
          <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
            <div class="contact-item">
              <div class="ci-icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="ci-title font-alt">آدرس</div>
              <div class="ci-text">ایران، تهران، تهران</div>
            </div>
          </div>
          <!-- End Address -->

          <!-- Email -->
          <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
            <div class="contact-item">
              <div class="ci-icon">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="ci-title font-alt">ایمیل</div>
              <div class="ci-text">
                <a href="mailto:metisbt@gmail.com"
                  >metisbt@gmail.com</a
                >
              </div>
            </div>
          </div>
          <!-- End Email -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->

<!-- Call Action Section -->
<section class="small-section bg-dark">
  <div class="container relative">
    <div class="align-center">
      <h3 class="banner-heading font-alt">آیا می خواهید در مورد پروژه جدید خود بحث کنید؟</h3>
      <div>
        <a href="https://mahdisabet.ir" class="btn btn-mod btn-w btn-medium btn-round">مشاوره رایگان</a>
      </div>
    </div>
  </div>
</section>
<!-- End Call Action Section -->

{% endblock %}
