{% extends 'base.html' %} {% load static %} {% load blog_tags %} {% block content %}

<!-- Head Section -->
<section
  class="small-section bg-dark"
  data-background="{% static 'images/slide-2.jpg' %}"
>
  <div class="relative container align-right">
    <div class="row">
      <div class="col-md-8">
        <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">بلاگ</h1>
        <div class="hs-line-4 font-alt">
          ما بهترین ایده های خود را در وبلاگ خود به اشتراک می گذاریم        
        </div>
      </div>

      <div class="col-md-4 mt-30">
        <div class="mod-breadcrumbs font-alt align-left">
          <a href="{% url 'website:home' %}">خانه</a>&nbsp;/&nbsp;<span>بلاگ</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<section class="page-section">
  <div class="container relative">
    <div class="row">
      <!-- Content -->
      <div class="col-sm-8">
        <div class="row masonry">
          <!-- Post Item -->
          {% for post in posts %}
          <div class="col-md-6 col-lg-6 mb-60 mb-xs-40">
            <div class="post-prev-img">
              <a href="{% url 'blog:single' pid=post.id %}"
                ><img src="{{post.image.url}}" alt=""
              /></a>
            </div>

            <div class="post-prev-title font-alt">
              <a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a>
            </div>

            <div class="post-prev-info font-alt">
              {{post.published_date|date:"d M Y"}} | <a href="{% url 'blog:author' author_username=post.author.username %}">{{post.author.get_full_name}}</a> | {{post.counted_view}} بازدید | {% comments_count pid=post.id %} نظر
            </div>

            <div class="post-prev-info font-alt">
              {% for cat in post.category.all %}
              <a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a>{% if not forloop.last %},{% endif %} {% endfor %}
            </div>

            <div class="post-prev-text">
              {{post.content|truncatewords_html:25}}
            </div>

            <div class="post-prev-more">
              <a href="{% url 'blog:single' pid=post.id %}" class="btn btn-mod btn-gray btn-round"
                >مشاهده بیشتر<i class="fa fa-angle-left"></i
              ></a>
            </div>
          </div>
          {% endfor %}
          <!-- End Post Item -->

        </div>

        <!-- Pagination -->
        <div class="pagination">
          {% if posts.has_previous %}
          <a href="?page={{posts.previous_page_number}}"><i class="fa fa-angle-right"></i></a>
          {% endif %} {% for i in posts.paginator.page_range %} {% if page_number == i %}
          <a href="?page={{i}}" class="active">1</a>
          {% else %}
          <a href="?page={{i}}">{{i}}</a>
          {% endif %} {% endfor %} {% if posts.has_next %}
          <a href="?page={{posts.next_page_number}}"><i class="fa fa-angle-left"></i></a>
          {% endif %}
        </div>
        <!-- End Pagination -->
      </div>
      <!-- End Content -->

      <!-- Sidebar -->
      <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
        <!-- Search Widget -->
        {% include 'blog/blog-search.html' %}
        <!-- End Search Widget -->

        <!-- Widget Categories -->
        {% postcategories %}
        <!-- End Widget -->

        <!-- Widget Tags -->
        {% include 'blog/blog-tags.html' %}
        <!-- End Widget -->

        <!-- Widget Last posts -->
        {% latestposts %}
        <!-- End Widget -->

      </div>
      <!-- End Sidebar -->
    </div>
  </div>
</section>
<!-- End Section -->

{% endblock %}
