{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Head Section -->
<section class="small-section bg-gray-lighter-blog-single">
  <div class="relative container align-right">
    <div class="row">
      <div class="col-md-8">
        <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">{{post.title}}</h1>

      </div>

      <div class="col-md-4 mt-30">
        <div class="mod-breadcrumbs font-alt align-left">
          <a href="{% url 'website:home' %}">خانه</a>&nbsp;/&nbsp;<a href="{% url 'blog:index' %}">بلاگ</a
          >&nbsp;/&nbsp;<span>{{post.title}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<section class="page-section">
  <div class="container relative">
    <div class="row">
      <!-- Content -->
      <div class="col-sm-10 col-sm-offset-1">
        <!-- Post -->
        <div class="blog-item mb-80 mb-xs-40">
          <!-- Text -->
          <div class="blog-item-body">
            <h1 class="mt-0 font-alt">
              {{post.title}}
            </h1>

            <!-- End Text -->

            <p>
              {{post.content}}
            </p>

          </div>
          <!-- End Text -->
        </div>
        <!-- End Post -->

        <!-- Comments -->
        <div class="mb-80 mb-xs-40">
          <h4 class="blog-page-title font-alt">
            نظرات<small class="number"> {{comment|length}}</small>
          </h4>

          <ul class="media-list text comment-list clearlist">
            {% for cmnt in comment %}
            <!-- Comment Item -->
            <li class="media comment-item">
              <a class="pull-right" href=""
                ><img
                  class="media-object comment-avatar"
                  src="{% static 'images/user-avatar.png' %}"
                  alt=""
              /></a>

              <div class="media-body">
                <div class="comment-item-data">
                  <div class="comment-author">
                    <a href="#">{{cmnt.name}}</a>
                  </div>
                  {{cmnt.created_date|date:"d M Y"}}
                </div>

                <p>
                  {{cmnt.message}}
                </p>
              </div>
            </li>
            <!-- End Comment Item -->
            {% empty %}
            <h6>نظری موجود نیست</h6>
          {% endfor %}
          </ul>
        </div>
        <!-- End Comments -->

        <!-- Add Comment -->
        <div class="mb-80 mb-xs-40">
          <h4 class="blog-page-title font-alt">نظر خود را به اشتراک بگذارید</h4>

          {% if messages %} {% for message in messages %}
          <div id="result">
            <div
            class="alert {% if message.tags == 'success' %} alert-{{ message.tags }} {% elif message.tags == 'error' %} alert-warning {% endif %}"
          >
            {{ message|safe }}
          </div>
          </div>
          {% endfor %} {% endif %}
          <!-- Form -->
          <form method="post" action="{% url 'blog:single' pid=post.id %}" class="form">
            {% csrf_token %}
            <div class="row mb-20 mb-md-10">
              <div class="col-md-6 mb-md-10">
                <input type="hidden" name="post" value="{{post.id}}">
                <!-- {% if request.user.is_authenticated %}
                <input type="hidden" name="name" value="{{request.user.first_name}}">
                <input type="hidden" name="email" value="{{request.user.email}}">
                {% else %} -->
                <!-- Name -->
                <input
                  type="text"
                  name="name"
                  class="input-md form-control"
                  placeholder="نام *"
                  maxlength="100"
                  required
                />
              </div>

              <div class="col-md-6">
                <!-- Email -->
                <input
                  type="email"
                  name="email"
                  class="input-md form-control"
                  placeholder="ایمیل *"
                  maxlength="100"
                  required
                />
              </div>
            <!-- {% endif %} -->
            </div>

            <div class="mb-20 mb-md-10">
              <!-- Website -->
              <input
                type="text"
                name="subject"
                class="input-md form-control"
                placeholder="موضوع"
                maxlength="100"
                required
              />
            </div>


            <!-- Comment -->
            <div class="mb-30 mb-md-10">
              <textarea
                name="message"
                class="input-md form-control"
                rows="6"
                placeholder="نظر شما"
                maxlength="400"
              ></textarea>
              <br>
              {{form.captcha}}
            </div>
          
            <!-- Send Button -->
            <button type="submit" class="btn btn-mod btn-medium">
              ارسال نظر
            </button>
          </form>
          <!-- End Form -->
        </div>
        <!-- End Add Comment -->

        <!-- Prev/Next Post -->
        <div class="clearfix mt-40">
          {% if prev_post != False %}
          <a href="{% url 'blog:single' pid=prev_post.id %}" class="blog-item-more right"
            ><i class="fa fa-angle-right"></i>&nbsp;پست قبلی</a
          >
          {% endif %} {% if next_post != False %}
          <a href="{% url 'blog:single' pid=next_post.id %}" class="blog-item-more left"
            >پست بعدی&nbsp;<i class="fa fa-angle-left"></i
          ></a>
          {% endif %}
        </div>
        <!-- End Prev/Next Post -->
      </div>
      <!-- End Content -->
    </div>
  </div>
</section>
<!-- End Section -->

{% endblock %}
