{% extends 'base.html' %} {% load static %} {% load blog_tags %} {% block content %}

<!-- Head Section -->
<section
  class="small-section bg-dark"
  data-background="{% static 'images/full-width/section-bg-2.jpg' %}"
>
  <div class="relative container align-right">
    <div class="row">
      <div class="col-md-8">
        <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">بلاگ</h1>
        <div class="hs-line-4 font-alt">
          ما بهترین ایده های خود را در وبلاگ خود به اشتراک می گذاریم        
        </div>
      </div>

      <div class="col-md-4 mt-30">
        <div class="mod-breadcrumbs font-alt align-left">
          <a href="{% url 'website:home' %}">خانه</a>&nbsp;/&nbsp;<span>بلاگ</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Head Section -->

<!-- Section -->
<section class="page-section">
  <div class="container relative">
    <div class="row">
      <!-- Content -->
      <div class="col-sm-8">
        <div class="row masonry">
          <!-- Post Item -->
          <div class="col-md-6 col-lg-6 mb-60 mb-xs-40">
            <div class="post-prev-img">
              <a href="blog-single-sidebar-left.html"
                ><img src="{% static 'images/blog/post-prev-1.jpg' %}" alt=""
              /></a>
            </div>

            <div class="post-prev-title font-alt">
              <a href="">New Web Design Trends</a>
            </div>

            <div class="post-prev-info font-alt">
              <a href="">John Doe</a> | 10 December
            </div>

            <div class="post-prev-text">
              Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id
              dolor consectetur fermentum nibh volutpat, accumsan purus.
            </div>

            <div class="post-prev-more">
              <a href="" class="btn btn-mod btn-gray btn-round"
                >Read More <i class="fa fa-angle-left"></i
              ></a>
            </div>
          </div>
          <!-- End Post Item -->

        </div>

        <!-- Pagination -->
        <div class="pagination">
          <a href=""><i class="fa fa-angle-right"></i></a>
          <a href="" class="active">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a class="no-active">...</a>
          <a href="">9</a>
          <a href=""><i class="fa fa-angle-left"></i></a>
        </div>
        <!-- End Pagination -->
      </div>
      <!-- End Content -->

      <!-- Sidebar -->
      <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
        <!-- Search Widget -->
        <div class="widget">
          <form class="form-inline form" method="get" action="{% url 'blog:search' %}">
            <div class="search-wrap">
              <button
                class="search-button animate"
                type="submit"
                title="Start Search"
              >
                <i class="fa fa-search"></i>
              </button>
              <input
                type="text"
                name="s"
                class="form-control search-field"
                placeholder="جستجو کنید"
              />
            </div>
          </form>
        </div>
        <!-- End Search Widget -->

        <!-- Widget -->
        <div class="widget">
          <h5 class="widget-title font-alt">Categories</h5>

          <div class="widget-body">
            <ul class="clearlist widget-menu">
              <li>
                <a href="#" title="">Branding</a>
                <small> - 7 </small>
              </li>
              <li>
                <a href="#" title="">Design</a>
                <small> - 15 </small>
              </li>
              <li>
                <a href="#" title="">Development</a>
                <small> - 3 </small>
              </li>
              <li>
                <a href="#" title="">Photography</a>
                <small> - 5 </small>
              </li>
              <li>
                <a href="#" title="">Other</a>
                <small> - 1 </small>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Widget -->

        <!-- Widget -->
        <div class="widget">
          <h5 class="widget-title font-alt">Tags</h5>

          <div class="widget-body">
            <div class="tags">
              <a href="">Design</a>
              <a href="">Portfolio</a>
              <a href="">Digital</a>
              <a href="">Branding</a>
              <a href="">Theme</a>
              <a href="">Clean</a>
              <a href="">UI & UX</a>
              <a href="">Love</a>
            </div>
          </div>
        </div>
        <!-- End Widget -->

        <!-- Widget -->
        <div class="widget">
          <h5 class="widget-title font-alt">Last posts</h5>

          <div class="widget-body">
            <ul class="clearlist widget-posts">
              <li class="clearfix">
                <a href=""
                  ><img
                    src="{% static 'images/blog/previews/post-prev-1.jpg' %}"
                    alt=""
                    class="widget-posts-img"
                /></a>
                <div class="widget-posts-descr">
                  <a href="#" title="">Minimalistic Design Forever</a>
                  Posted by John Doe 7 Mar
                </div>
              </li>
              <li class="clearfix">
                <a href=""
                  ><img
                    src="{% static 'images/blog/previews/post-prev-2.jpg' %}"
                    alt=""
                    class="widget-posts-img"
                /></a>
                <div class="widget-posts-descr">
                  <a href="#" title=""
                    >Ipsum dolor sit amet, consectetur adipiscing elit</a
                  >
                  Posted by John Doe 7 Mar
                </div>
              </li>
              <li class="clearfix">
                <a href=""
                  ><img
                    src="{% static 'images/blog/previews/post-prev-3.jpg' %}"
                    alt=""
                    class="widget-posts-img"
                /></a>
                <div class="widget-posts-descr">
                  <a href="#" title="">New Web Design Trends in 2015 year</a>
                  Posted by John Doe 7 Mar
                </div>
              </li>
              <li class="clearfix">
                <a href=""
                  ><img
                    src="{% static 'images/blog/previews/post-prev-4.jpg' %}"
                    alt=""
                    class="widget-posts-img"
                /></a>
                <div class="widget-posts-descr">
                  <a href="#" title=""
                    >Hipster’s Style in Web Design and Logo</a
                  >
                  Posted by John Doe 7 Mar
                </div>
              </li>
              <li class="clearfix">
                <a href=""
                  ><img
                    src="{% static 'images/blog/previews/post-prev-5.jpg' %}"
                    alt=""
                    class="widget-posts-img"
                /></a>
                <div class="widget-posts-descr">
                  <a href="#" title=""
                    >Duis tristique condimentum nulla, bibendum consectetu</a
                  >
                  Posted by John Doe 7 Mar
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Widget -->

      </div>
      <!-- End Sidebar -->
    </div>
  </div>
</section>
<!-- End Section -->

{% endblock %}
