{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Home Section -->
<section
  class="home-section bg-dark-alfa-50 parallax-2"
  data-background="{% static 'images/full-width/section-bg-12.jpg' %}"
>
  <div class="js-height-full">
    <!-- Hero Content -->
    <div class="home-content container">
      <div class="home-text">
        <div class="hs-cont">
          <!-- Headings -->
          <div class="hs-wrap">
            <div class="hs-line-13 font-alt mb-10">404</div>

            <div class="hs-line-4 font-alt mb-40">
                صفحه ای که به دنبال آن بودید یافت نشد.
            </div>

            <div class="local-scroll">
              <a href="{% url 'website:home' %}" class="btn btn-mod btn-w btn-round btn-small"
                ><i class="fa fa-angle-right"></i> برگشت به خانه</a
              >
            </div>
          </div>
          <!-- End Headings -->
        </div>
      </div>
    </div>
    <!-- End Hero Content -->
  </div>
</section>
<!-- End Home Section -->

{% endblock content %}